In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
data_home = './'

In [2]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
book = pd.read_csv('./Books.csv',low_memory=False)
rating = pd.read_csv('./Ratings.csv',low_memory=False)
users = pd.read_csv('./Users.csv',low_memory=False)

df1 = book.merge(rating,how='left',on='ISBN')
df_ = df1.merge(users,how='left',on='User-ID')

df = df_.copy()
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0,"sudbury, ontario, canada",NaN

In [4]:
df.shape

(1032345, 12)

In [5]:
df.info()
df.dropna(inplace= True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032345 entries, 0 to 1032344
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1032345 non-null  object
 1   Book-Title           1032345 non-null  object
 2   Book-Author          1032344 non-null  object
 3   Year-Of-Publication  1032345 non-null  object
 4   Publisher            1032343 non-null  object
 5   Image-URL-S          1032345 non-null  object
 6   Image-URL-M          1032345 non-null  object
 7   Image-URL-L          1032341 non-null  object
 8   User-ID              1031136 non-null  float64
 9   Book-Rating          1031136 non-null  float64
 10  Location             1031136 non-null  object
 11  Age                  753301 non-null   float64
dtypes: float64(3), object(9)
memory usage: 102.4+ MB

In [6]:
df['User-ID'] = df['User-ID'].astype('int')
df['Age'] = df['Age'].astype('int')

In [7]:
df["Book-Author"]=df["Book-Author"].astype("string")
df["Book-Author"]=df["Book-Author"].str.replace("DAN BROWN","Dan Brown")

In [8]:
df["Book-Author"]=df["Book-Author"].str.replace("Audrey Osofsky","Stephen King")
df["Book-Author"]=df["Book-Author"].str.replace("Dinah McCall","Stephen King")

In [9]:
df.drop(columns=["Image-URL-S","Image-URL-M","Year-Of-Publication","Image-URL-L"],inplace=True)

In [10]:
df=df[df["Book-Rating"]>0]
df["Book-Rating"].describe()

count    269617.000000
mean          7.736152
std           1.814537
min           1.000000
25%           7.000000
50%           8.000000
75%           9.000000
max          10.000000
Name: Book-Rating, dtype: float64

In [20]:
df["User-ID"].nunique()

40543

In [21]:
df["Book-Title"].nunique()

109209

In [39]:
df.groupby('User-ID')['Book-Title'].agg('count').sort_values()

User-ID
19           1
158169       1
158156       1
158152       1
158121       1
          ...
16795      959
171118     962
235105    1020
153662    1845
98391     5689
Name: Book-Title, Length: 40543, dtype: int64

In [12]:
book_counts = pd.DataFrame(df["Book-Title"].value_counts())

In [13]:
book_counts.sort_values("Book-Title", ascending=False)

                                                    Book-Title
Wild Animus                                                473
The Lovely Bones: A Novel                                  473
The Da Vinci Code                                          380
The Secret Life of Bees                                    280
Bridget Jones's Diary                                      261
...                                                        ...
WEEPING ANGEL : WEEPING ANGEL                                1
Was die Welt nicht braucht. Von Chatten bis Was...           1
Knitting Masterpieces                                        1
I Don't Know What to Say                                     1
From One to One Hundred                                      1

[109209 rows x 1 columns]

In [14]:
rare_book = book_counts[book_counts["Book-Title"] <= 100].index

In [15]:
rare_book.nunique()

109118

In [16]:
common_book = df[~df["Book-Title"].isin(rare_book)]
common_book.head()

,ISBN,Book-Title,Book-Author,Publisher,User-ID,Book-Rating,Location,Age
108,0440234743,The Testament,John Grisham,Dell,7346,9.0,"sunnyvale, california, usa",49
109,0440234743,The Testament,John Grisham,Dell,7352,8.0,"houston, texas, usa",53
113,0440234743,The Testament,John Grisham,Dell,11224,6.0,"tumwater, washington, usa",51
116,0440234743,The Testament,John Grisham,Dell,12923,10.0,"louisville, kentucky, usa",39
117,0440234743,The Testament,John Grisham,Dell,13552,8.0,"cordova, tennessee, usa",32

In [19]:
import Recommenders as Recommenders
from sklearn.model_selection import train_test_split

In [71]:
common_book_set = common_book
train_data,test_data = train_test_split(common_book_set,test_size = 0.40,random_state=0)

229966    120333
213726    214234
78637     105054
158355    245328
128646     91087
           ...
203282    247057
25303     243341
108304     40889
130550     54898
22143     239460
Name: User-ID, Length: 8707, dtype: int32

In [59]:
def create_popularity_recommendation(train_data, User_ID, Book_Title):
    train_data_grouped = train_data.groupby([Book_Title]).agg({User_ID:'count'}).reset_index()
    df.groupby('User-ID')['Book-Title'].agg('count').sort_values()
    train_data_grouped.rename(columns = {User_ID:'score'},inplace=True)
    
    train_data_sort = train_data_grouped.sort_values(['score',Book_Title],ascending = [0,1])
    
    train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first')
    
    popularity_recommendations = train_data_sort.head(20)
    return popularity_recommendations

In [60]:
recommendations = create_popularity_recommendation(common_book,'User-ID','Book-Title')

In [61]:
recommendations

                                           Book-Title  score  Rank
64                          The Lovely Bones: A Novel    473   1.0
90                                        Wild Animus    473   2.0
53                                  The Da Vinci Code    380   3.0
76                            The Secret Life of Bees    280   4.0
9                               Bridget Jones's Diary    261   5.0
7                                 Angels &amp; Demons    258   6.0
30                                         Life of Pi    252   7.0
20   Harry Potter and the Chamber of Secrets (Book 2)    246   8.0
65                         The Nanny Diaries: A Novel    246   9.0
74                The Red Tent (Bestselling Backlist)    227  10.0
25  Harry Potter and the Sorcerer's Stone (Harry P...    225  11.0
23  Harry Potter and the Prisoner of Azkaban (Book 3)    217  12.0
2                                     A Painted House    208  13.0
13    Divine Secrets of the Ya-Ya Sisterhood: A Novel    205  14.0
57                 The Five People You Meet in Heaven    205  15.0
83                              To Kill a Mockingbird    197  16.0
86  Where the Heart Is (Oprah's Book Club (Paperba...    196  17.0
21       Harry Potter and the Goblet of Fire (Book 4)    191  18.0
49                             The Catcher in the Rye    191  19.0
67                                       The Notebook    189  20.0

In [75]:
train_data,test_data = train_test_split(common_book_set,test_size = 0.30,random_state=0)
is_model = Recommenders.item_similarity_recommender_py()
is_model.create(train_data, 'User-ID', 'Book-Title')
user_id = list(train_data['User-ID'])[7]
user_items = is_model.get_user_items(user_id)

In [76]:
is_model.recommend(user_id)

No. of unique songs for the user: 2
no. of unique songs in the training set: 91
Non zero values in cooccurence_matrix :145

  user_id                                               song     score rank
0   90423                      The Poisonwood Bible: A Novel  0.026828    1
1   90423                 The Five People You Meet in Heaven  0.026639    2
2   90423       Harry Potter and the Goblet of Fire (Book 4)  0.023682    3
3   90423  She's Come Undone (Oprah's Book Club (Paperback))  0.021957    4
4   90423                              To Kill a Mockingbird  0.021789    5
5   90423                           White Oleander : A Novel  0.021099    6
6   90423                            The Secret Life of Bees  0.019623    7
7   90423                                      American Gods  0.018917    8
8   90423     The Two Towers (The Lord of the Rings, Part 2)  0.018587    9
9   90423                          The Lovely Bones: A Novel  0.018349   10